html,body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.container1{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    gap:50px
}

.logo{

    padding-top: 2.5%;
    display: flex;
    justify-content: space-between;
    gap:300px
    
}

.logolinks{
    display: flex;
    gap: 16px;
}

.logotext{
    font-size: 24px;
    color: #f9faf8;
}

.linktext{
    font-size: 18px;
    color: #e5e7eb;
}

.infocontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2.5%;
    gap:300px
}

.webinfo{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.webtitle{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext{
    font-size: 18px;
    color: #e5e7e8;
    opacity: 0.9;
}

.signupcon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.signup{
    background-color: #3882F6;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-flex;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.BoxRows {
    display: flex;
}

.SecHeader{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    
}


.box {
    border: #3882F6;
    border-style: solid;
    border-width: thick;
    height: 50px;
    width: 50px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   
   
}

.txt{
    display: flex;
    flex-wrap: wrap;
    padding-top: 155%;
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#E5E7EB ;
    margin-top: 10%;
    padding: 5%;
}

.quote{
    color: #1F2937;
    font-size: 36px;
}

.author{
    align-self: flex-end;

}